html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Comfortaa;
	src: local("serif"),
		url(Comfortaa-VariableFont_wght.ttf);
}

body {
	font-family: Comfortaa;
	font-variation-settings: 'wght' 430;

	background-color: #5A352A;
	color: #D8973C;
}

/* page layout */

.main-grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr minmax(200px, 1000px) 1fr;
	gap: 1rem;
}

.main-row {
	grid-column-start: 2;
}

/* common elements */

.logo {
	text-align: center;
	line-height: 2em;
}